:root{
    --background: #f7f8fc;
    --accent: #5865CB;
    --text: #303030;
}

body {
    margin: 0;
    padding: 0;
    color: #303030;
    background-color: #fff;
    font-size: 1rem;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #303030;
}

.flex{
    display: flex;
    flex-direction: row
}

.nav-img{
    height: 5vh;
}

.nav-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-list>li{
    padding: 0.5rem;
    margin: 0.5rem;
}

.nav-list>li>a{
    color: var(--accent);
}

#bag-List>a{
    color: var(--background);
    background-color: var(--accent);
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    box-shadow: 0 0.3rem 0.6rem 0.3rem #30303020;
}

#sign-List>a{
    color: var(--background);
    background-color: #faab35;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    box-shadow: 0 0.3rem 0.6rem 0.3rem #30303020;
}

nav {
    justify-content: space-between;
    width: 100%;
}